@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "Manrope", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.navbar__auth {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.navbar__links {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  /* padding: 2rem 5rem; */
}
.navbar__link {
  display: flex;
}
.icon {
  align-items: center;
}
.navbar__logo {
  font-size: larger;
  font-weight: bolder;
}
.wrapNav {
  background: radial-gradient(circle at 20% 40%, #d8ebf9, #b6e4fb, #84cefd);
  height: 100vh;
  padding: 2rem 5rem;
  position: relative;
  z-index: -10 !important;
}
.navbar__signin {
  padding: 12px 20px;
  /* outline: none; */
  border: none;
  border-radius: 10px;
  background-color: transparent;
}
.navbar__start {
  background-color: rgb(64, 10, 227);
  border-radius: 10px;
  padding: 12px 20px;
  border: none;
  color: white;
}
.service {
  display: flex;
  gap: 10px;
}
.guidelines {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

.getStartBtn {
  background-color: rgb(64, 10, 227);
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  height: fit-content;
  border: none;
}
.work {
  padding: 15px 25px;
  display: flex;
  align-items: center;
}
.wrapContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  justify-content: center;
  height: 70vh;
}
.title {
  /* letter-spacing: 2px; */
  font-size: 56px;
  font-weight: 800;
}
.description {
  color: rgb(26, 26, 26);
}
.container {
  display: flex;
  justify-content: space-between;
}
.image {
  position: relative;
  z-index: -1;
}
.img2 {
  position: absolute;
  right: 10rem;
  top: 7rem;
}
.img1 {
  position: absolute;
  right: 20rem;
}
.companies {
  height: 250px;
  z-index: 10;
  background-color: #f5f6f8;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.wrapCompanies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.companyName {
  height: 25px;
}
.text {
  font-size: larger;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 7rem 8rem;
  gap: 4rem;
}
.content1 {
  display: flex;
  justify-content: space-between;
}
.description1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  background-color: #e7e7e7;
  justify-content: center;
  border-radius: 20px;
  padding: 1rem;
  font-weight: 600;
}
.relative {
  position: relative;
}

.quotes {
  font-size: 50px;
  background-color: black;
  border-radius: 9999px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  left: 30px;
}

.save-money-des {
  line-height: 22px;
}

.absolute {
  position: absolute;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 2rem;
}
.item {
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid rgb(208, 208, 208);
  /* min-width: 370px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
  /* justify-content: center; */
  align-items: center;
  height: 320px;
}
.title1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.paragraph {
  font-size: 14px;
  color: #757095;
  text-align: center;
  line-height: 26px;
}
.num {
  text-align: left;
  width: 100%;
  font-size: 22px;
  font-weight: 800;
}

.wrapper3 {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 4rem;
  width: fit-content;
}
.description2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.chooseUs {
  font-size: 14px;
  color: #3734a9;
  font-weight: 700;
}
.title2 {
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
}
.line {
  color: black;
  border: 1px solid rgb(190, 187, 187);
}
.wrapper4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wrapper5 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #c9ecfc;
  justify-content: center;
  align-items: center;
}
.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.content3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  background-color: #e7e7e7;
  justify-content: center;
  border-radius: 20px;
  padding: 1rem;
  font-size: 15px;
  margin-top: 30px;
}
.bg {
  height: 55vh;
  width: 25vw;
  background-color: #c9ecfc;
  border-radius: 10px;
  position: relative;
}
.handImg {
  position: absolute;
  top: -5rem;
  height: 507px;
  right: 6rem;
  width: 300px;
}
.title3 {
  font-size: 22px;
  font-weight: bold;
}
.item2 {
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid rgb(208, 208, 208);
  /* width: 28%; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  justify-content: center;
  /* align-items: center; */
  height: 300px;
}
.item3 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.div1 {
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid rgb(208, 208, 208);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  justify-content: center;
  height: 115px;
  font-size: 22px;
  font-weight: bold;
}
.container3 {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.thumbsUpImg {
  height: 350px;
  width: 240px;
}
.wrapper6 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 5rem;
}
.container4 {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.div2 {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid rgb(208, 208, 208);
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;
}
.usersContainer {
  background-color: #3734a9;
  color: white;
  height: 256px;
  display: flex;
  align-items: center;
  margin: 6rem 0rem;
}
.users {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  width: 100%;
  padding-right: 0px;
}
.text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.icon {
  display: flex;
  justify-content: center;
}

.wrapBlogs {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  gap: 2rem;
  /* width: 85%; */
}
.blog1 {
  display: flex;
  justify-content: space-between;
  background-color: #fdfdfd;
  padding: 1rem;
  box-shadow: rgba(158, 158, 158, 0.24) 0px 2px 10px;
  border-radius: 10px;
}
.bestPractice {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  margin-top: 1rem;
}

.text2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 7%;
  text-transform: uppercase;
}
.p1 {
  font-size: 29px;
  font-weight: 700;
}
.readMore {
  padding: 3rem 0rem;
}
.blog2Wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
}
.blog2 {
  width: 382px;
  /* height: 436px; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(158, 158, 158, 0.24) 0px 2px 10px;
  padding: 1rem;
}

.wrapper7 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
}
.wrapFAQ {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.moreQuestions {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
}
.wrapFaqDemo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 750px;
}
.p2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -2%;
  text-align: center;
}
.wrapQuestions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 429px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 10px;
}
.shootButton {
  height: 50px;
  width: 337px;
  background-color: #ff7f5c;
  margin: 1rem 1rem;
  color: white;
  padding: 12px 20px;
  border: none;
}
.faqText {
  display: flex;
  justify-content: space-between;
}
.faqs {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(158, 158, 158, 0.24) 0px 2px 10px;
  padding: 15px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 10px;
}
.faqDemo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(158, 158, 158, 0.24) 0px 2px 10px;
  padding: 15px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 10px;
}
.innerText {
  font-size: 20px;
  font-weight: 700;
}
.getStartWrapper {
  padding: 3rem 5rem;
}
.getStart {
  background-color: #3734a9;
  color: white;
  height: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.spendings {
  font-size: 56px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: -3%;
  max-width: 700px;
  text-align: center;
}
.startBtn {
  background-color: #ff7f5c;
  border-radius: 10px;
  margin: 1rem 1rem;
  color: white;
  padding: 12px 20px;
  border: none;
}

.about {
  display: flex;
  justify-content: space-between;
}
.part1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.title4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -2%;
}

.content4 {
  color: #757095;
  max-width: 250px;
}
.content5 {
  color: #757095;
  max-width: 350px;
}

input {
  height: 26px;
  width: 200px;
  border: none;
  background-color: #dedede;
  padding: 8px 15px;
  margin: 0;
  outline: none;
}

.subs {
  background-color: #3734a9;
  height: 100%;
  width: 149px;
  padding: 7px;
  color: white;
  border: none;
}
.iconSet {
  display: flex;
  justify-content: space-between;
}

.seperator {
  width: 100%;
  height: 2px;
  background-color: #d0d0d5;
  margin-top: 3rem;
}
.cr {
  text-align: center;
}
@media (max-width: 900px) {
  .image {
    display: none;
  }
  .wrapContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    height: 70vh;
  }
  .navbar__links {
    display: none;
  }
  .navbar__auth {
    display: none;
  }
  .content1 {
    flex-direction: column;
    gap: 20px;
  }
  .description1 {
    width: 100% !important;
  }
  .content2 {
    width: 90% !important;
    margin-top: 30px;
  }
  .save-money-des {
    margin-top: 20px;
  }
  .wrapper {
    padding: 3rem;
  }
  .title {
    width: auto;
  }
  .wrapper2 {
    display: grid;
    grid-template-columns: repeat(1, auto) !important;
    justify-content: center !important;
    gap: 2rem;
  }
  .item {
    width: 80vw !important;
  }
  .title2 {
    font-size: 40px;
  }
  .wrapper5 {
    display: block;
  }
  .container3 {
    padding: 1rem;
    align-items: center;
  }
  .div2 {
    font-size: 15px;
  }
  .deco-img {
    display: none !important;
  }
  .deco-img-2 {
    display: none !important;
  }
  .wrapBlogs {
    padding: 20px 40px;
  }
  .blog-img-cont-alt {
    display: block !important;
    width: 250px;
    height: 150px;
  }
  .blog-img-cont {
    display: none !important;
  }
  .blog1 {
    flex-direction: column;
  }
  .blogs-title {
    font-size: 20px !important;
  }
  .blog-img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper7 {
    flex-direction: column !important;
  }
  .blog2Wrapper {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 2rem;
  }
  .blog2 {
    width: 100% !important;
  }
  .faq-title {
    font-size: 40px !important;
  }
  .wrapFAQ {
    padding: 20px 40px;
  }
}
.blog-img-cont-alt {
  display: none;
}
.blogs-title {
  max-width: 500px;
}

@media (max-width: 1400px) {
  .description1 {
    width: 60%;
  }
  .content2 {
    width: 40%;
  }
  .wrapper3 {
    flex-direction: column;
  }
  .bg {
    display: none;
  }

  .transaction-img {
    width: 90vw;
    height: 300px;
  }
  .content3 {
    width: auto;
  }
  .break {
    display: none;
  }
  .blog2Wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
  }
  .blog2 {
    width: 100% !important;
  }
}

@media (max-width: 1100px) {
  .wrapFaqDemo {
    width: 100%;
  }
  .wrap-inner-faq {
    flex-direction: column !important;
  }
  .container4 {
    flex-direction: column;
  }
  .div2 {
    width: 100%;
  }
  .wrapper2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    gap: 2rem;
  }
  .deco-img-2 {
    display: none !important;
  }
  .users {
    padding: 0 20px 0 0 !important;
  }
  .users {
    display: grid !important;
    /* justify-content: space-between; */
    grid-template-columns: repeat(3, auto);

    width: 100%;
    padding-right: 0px;
  }
  .info-text-1 {
    grid-column: span 3;
    width: 100%;
  }
  .deco-br {
    display: none;
  }
  .count {
    font-size: 40px !important;
  }
  .text1 {
    width: auto;
  }
  .recent-blog-title {
    font-size: 40px !important;
  }
  .blog-img {
    width: 250px !important;
    height: 150px;
  }
  .wrapper7 {
    flex-direction: row;
    justify-content: left !important;
  }

  .blog2Wrapper {
    grid-template-columns: repeat(1, auto);
  }
}
@media (max-width: 600px) {
  .wrapQuestions {
    margin-top: 20px;
  }
  .title {
    font-size: xx-large;
    letter-spacing: normal;
  }
  .wrapNav {
    padding: 10px 15px;
  }
  .description {
    font-size: smaller;
  }
  .navbar__logo {
    font-size: small;
  }

  .image {
    display: none;
  }

  .text {
    font-size: medium;
  }
  .item {
    width: 60vw;
  }
  .wrapper {
    padding: 20px;
  }
  .wrapper2 {
    justify-content: center !important;
  }
  .wrapper6 {
    padding: 1rem;
  }
  .people-img {
    width: 100px;
    height: 145px;
  }
  .testimonials-des {
    padding-top: 30px;
    font-size: 14px !important;
  }
}
